{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block title %}
注册
{% endblock %}

{% block bar %}
{% endblock %}

{% block mianbaoxie %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">首页</a></li>
  <li class="active">注册</li>
</ol>
{% endblock %}

{% block content %}
<div class="form">
    <form class="login" action="{% url 'register' %}" method="post">
      <p>欢迎注册</p>
      <input type="email" name="email" value="{% if register_form.email.value is not None %}{{ register_form.email.value }}{% endif %}" placeholder="邮箱" class="form-control inp1">
      <br>
      <input type="password" name="password" value="{% if register_form.password.value is not None %}{{ register_form.password.value }}{% endif %}" placeholder="密码" class="form-control inp2">
      <br>
        <div class="cap">
             {{ register_form.captcha }}
        </div>
        {% if register_form.errors or msg %}

        <div class="alert alert-danger login_error_msg " role="alert">{{ msg }}{% for key, value in register_form.errors.items %}{{ value }}{% endfor %}</div>

        {% endif %}
      <button type="submit" class="btn btn-primary btn-block">去邮箱激活</button>
        {% csrf_token %}
    </form>
  </div>
{% endblock %}
